In [1]:
import pandas as pd

df_weak = pd.read_csv('pswds/weak.csv', nrows=1000)
df_average = pd.read_csv('pswds/average.csv', nrows=1000)
df_strong = pd.read_csv('pswds/strong.csv', nrows=1000)
df = pd.concat([df_weak, df_average, df_strong], ignore_index=True)
df.head()

       Password  Strength_Level
0  Activate9999               1
1  bbbbadjurer4               1
2  asdfadinole5               1
3   acetoinAsdf               1
4  qweabsurdly3               1

In [2]:
def addInfo(pswd):
	length = len(pswd)
	has_upper = any(c.isupper() for c in pswd)
	has_lower = any(c.islower() for c in pswd)
	has_digit = any(c.isdigit() for c in pswd)
	has_special = any(not c.isalnum() for c in pswd)

	with open('seq.txt', 'r') as f:
		sequences = [line.strip() for line in f if line.strip()]

	has_seq = any(seq in pswd for seq in sequences)
	
	base = (26 if has_lower else 0) + (26 if has_upper else 0) + (10 if has_digit else 0) + (10 if has_special else 0)
	pswd_hour = 1_000_000_000 * 360
	maxHackTimeH = (base ** length) / pswd_hour 

	return [length, has_upper, has_lower, has_digit, has_special, has_seq, int(round(maxHackTimeH))]

df[['length', 'has_upper', 'has_lower', 'has_digit', 'has_special', 'has_seq', 'maxHackTimeH']] = df['Password'].apply(lambda x: pd.Series(addInfo(x)))
df.head()

,Password,Strength_Level,length,has_upper,has_lower,has_digit,has_special,has_seq,maxHackTimeH
0,Activate9999,1,12,True,True,True,False,True,8961852118
1,bbbbadjurer4,1,12,False,True,True,False,False,13162170
2,asdfadinole5,1,12,False,True,True,False,True,13162170
3,acetoinAsdf,1,11,True,True,False,False,False,20880182
4,qweabsurdly3,1,12,False,True,True,False,False,13162170